.row-fluid [class*="span"] {
    min-height: 0;
}

/*!
    Roots and Shoots
    Just a simple website

    @version 1
    @used http://www.rootsandshootsgc.co.uk
*/



/*=
    Base styles

    @module base
*/


/*-
    Base typography

    @module base-typography
*/
html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
    -webkit-text-size-adjust: none;
}


/*-
    Headings

    @module headings
*/
h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4,
.hx {
    color: #000;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    margin: 0 0 10px 0;
}

h1,
.h1 {
    font-size: 40px;
    color: #826322;
}


h2,
.h2 {
    font-size: 40px;
}

h3,
.h3 {

}

h4,
.h4 {

}

p {
    margin: 0 0 10px 0;
}


/*-
    Link styles

    @module link-styles
*/
a {
    color: #489426;
}

a:visited {
    color: #2B5917;
}

a:hover {

}

a:visited:hover {

}


/*=
    Layout

    @module layout
*/
.container {
    max-width: 960px;
}

.masthead {
    padding: 20px 0 0;
}

.navbar {
    margin-top: 20px;
}


/*=
    Logo

    @module logo
*/
.logo {
    display: block;
    max-width: 300px;
    background: no-repeat url(../img/logo.svg);
    background-size: 100% auto;
}

.no-svg .logo {
    background-image: url(../logo.png);
}

.logo-holder {
    width: 100%;
}

/*=
    Slider

    @module slider
*/
.slider-container {
    position: relative;
    height: 400px;
    margin-bottom: 20px;
    overflow: hidden;
    -webkit-transform: translateZ(0);  /* Chrome, Safari 3.1+ */
       -moz-transform: translateZ(0);  /* Firefox 3.5-15 */
        -ms-transform: translateZ(0);  /* IE 9 */
         -o-transform: translateZ(0);  /* Opera 10.50-12.00 */
            transform: translateZ(0);  /* Firefox 16+, IE 10+, Opera 12.50+ */
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
}

.slider.transition {
     -webkit-transition: left .75s ease-out;  /* Chrome 1-25, Safari 3.2+ */
        -moz-transition: left .75s ease-out;  /* Firefox 4-15 */
          -o-transition: left .75s ease-out;  /* Opera 10.50–12.00 */
             transition: left .75s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */
}

.slider-container .slide {
    float: left;
}

.slide {
    height: 400px;
    position: relative;
}

.slide img {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
}

.slide h2 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 20px;
    margin: 0;
    background-color: #489426;
    background-color: rgba(72, 148, 38, .80);
    color: #fff;
}

@media (max-width: 979px) {
    .slider-container,
    .slide {
        height: 300px;
    }
}

@media (max-width: 768px) {
    .slider-container,
    .slide {
        height: 220px;
    }
    .slide h2 {
        font-size: 20px;
    }
}

@media (max-width: 512px) {
    .slider-container,
    .slide {
        height: 200px;
    }
    .slide h2 {
        font-size: 18px;
    }
}

@media (max-width: 320px) {
    .slider-container,
    .slide {
        height: 160px;
    }
    .slide h2 {
        font-size: 16px;
    }
}



/*=
    Contact form

    @module contact-form
*/
.contact-container {
    position: fixed;
    top: 30px;
    left: 0;
    right: 0;
}

.contact-inner {
    position: relative;
    display: none;
    margin: auto;
    padding: 20px;
    background: #fff;
    max-width: 500px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .3);
}

.contact-inner.show {
    display: block;
}

.contact-close {
    position: absolute;
    display: inline-block;
    top: -.5em;
    right: -.5em;
    background: red;
    border-radius: 100%;
    font-size: 0.8em;
    line-height: 2em;
    width: 2em;
    height: 2em;
    text-align: center;
    text-decoration: none;
    color: #fff;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, .3);
}

.contact-close:visited {
    color: #fff;
}



/*=
    Contact nav

    @module contact-nav
*/
.contact-nav {
    text-align: right;
    padding-top: 2.5em;
}

.contact-nav p {
    margin-bottom: 5px;
}

@media (max-width: 768px) {
    .contact-nav {
        padding-top: 0;
        text-align: left;
    }
}

/* nav overrides */
.navbar-inner {
    min-height: 38px;
    border-color: #000;
    background-color: #2c2c2c; /* fallback color, place your own */
    /* Gradients for modern browsers, replace as you see fit */
    background-image: -moz-linear-gradient(top, #333333, #222222);
    background-image: -ms-linear-gradient(top, #333333, #222222);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#222222));
    background-image: -webkit-linear-gradient(top, #333333, #222222);
    background-image: -o-linear-gradient(top, #333333, #222222);
    background-image: linear-gradient(top, #333333, #222222);
    background-repeat: repeat-x;
    /* IE8-9 gradient filter */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
}

.navbar .nav > li > a {
    padding: 8px 10px;
    color: #fff !important;
    text-shadow: none !important;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
    background: #404040;
}




.footer {
    font-size: .85em;
    padding-top: 20px;
    margin-top: 20px;
    border-top: 1px solid #222;
}

.rhs img {
    display: block;
    margin: auto;
}
