<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8" />
    <title>{{ page.title }} - Roots &amp; Shoots Garden Centre Ipswich</title>
    <meta name="description" content="Roots &amp; Shoots is an independently owned and managed garden centre in Ipswich, Suffolk" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="css/rootsandshoots.css" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:700" />
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <script>for(var i=0,s="header nav section article aside footer".split(" ");i<s.length;i++){document.createElement(s[i]);}document.getElementsByTagName('html')[0].className="js "+((!!document.createElementNS && !!document.createElementNS('http://www.w3.org/2000/svg','svg').createSVGRect)?"svg":"no-svg");</script>
</head>
<body>

    <div class="container">

        <header class="masthead" role="banner">

            <div class="row-fluid">
                <div class="span6">

                    <a href="index.html" class="logo hide-text"><img class="logo-holder" src="data:image/gif;base64,R0lGODlhBgADAJEAAAAAAP///////wAAACH5BAEHAAIALAAAAAAGAAMAAAIElI95BQA7" alt="Roots &amp; Shoots Garden Centre, Ipswich, Suffolk" /></a>

                </div>
                <div class="span6 contact-nav">
                    <div class="contact-nav-inner">

                        <p class="tel">Tel: <a href="tel:+441449721965">01449 721965</a></p>
                        <p class="email">Email: <a href="mailto:sales@rootsandshootsgc.co.uk">sales@rootsandshootsgc.co.uk</a></p>
                        <p><a class="contact-btn" href="#">Contact us</a> <a href="https://maps.google.co.uk/maps?q=Roots+%26+Shoots,+Stowmarket+Road,+Needham+Market&hl=en&ll=52.172195,1.02808&spn=0.030215,0.0842&sll=52.49616,-0.65918&sspn=3.839778,10.777588&oq=Roots+%26+Shoots&hq=Roots+%26+Shoots,&hnear=Stowmarket+Rd,+Needham+Market,+United+Kingdom&t=m&z=14&iwloc=A" target="_blank">View map</a></p>

                    </div>
                </div> 
            </div>

            <nav id="main-nav" class="navbar navbar-alt" role="navigation">
                <div class="navbar-inner">
                    <ul class="nav">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="compost.html">Compost</a></li>
                        <!--<li><a href="pots.html">Pots</a></li>-->
                        <!--<li><a href="plants.html">Plants</a></li>-->
                        <!--<li><a href="garden-furniture.html">Garden Furniture</a></li>-->
                        <li><a href="wild-bird-care.html">Wild Bird Care</a></li>
                        <li><a href="poultry.html">Poultry</a></li>
                        <!--<li><a href="pond.html">Pond</a></li>-->
                        <li><a href="grow-your-own.html">Grow Your Own</a></li>
                    </ul>
                </div>
            </nav>

        </header>

        <section class="main" role="main">
{{ content }}
        </section>

        <footer class="footer">
            <div class="row-fluid">
                <div class="span4">
                    <h4>Opening hours</h4>
                    <p>We are open 7 days a week, come and visit us and you will be amazed at the quality and choice at very affordable prices</p>
                    <p><b>Monday to Saturday: 9am - 5pm</b></p>
                    <p><b>Sundays: 10am - 4pm</b></p>
                </div>
                <div class="span4">
                    <p><b>&copy; Roots &amp; Shoots Garden Centre 2013</b><br /> All rights reserved.<p>
                    <ul>
                        <li class="tel">Tel: <a href="tel:+441449721965">01449 721965</a></li>
                        <li class="email">Email: <a href="mailto:sales@rootsandshootsgc.co.uk">sales@rootsandshootsgc.co.uk</a></li>
                        <li><a class="contact-btn" href="#">Contact us</a></li>
                    </ul>
                </div>
                <div class="span4">
                    <p>
                        <b>Address</b><br />
                        Roots &amp; Shoots Garden Centre<br />
                        Stowmarket Road<br />
                        Badley<br />
                        Ipswich<br />
                        Suffolk<br />
                        IP6 8RR<br /><br />
                        <a href="https://maps.google.co.uk/maps?q=Roots+%26+Shoots,+Stowmarket+Road,+Needham+Market&hl=en&ll=52.172195,1.02808&spn=0.030215,0.0842&sll=52.49616,-0.65918&sspn=3.839778,10.777588&oq=Roots+%26+Shoots&hq=Roots+%26+Shoots,&hnear=Stowmarket+Rd,+Needham+Market,+United+Kingdom&t=m&z=14&iwloc=A" target="_blank">View map</a>
                    </p>
                </div>
            </div>
        </footer>

    </div>

    <div id="contact-container" class="contact-container">
        <div class="contact-inner">
            <a href="#" class="contact-close">x</a>
        </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
    <script src="js/main.js"></script>
    <script>
        var _gaq=[['_setAccount','UA-38635238-1'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src='//www.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
</body>
</html>
