<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8" />
    <title>{{ page.title }} - Roots &amp; Shoots Garden Centre Ipswitch</title>
    <meta name="description" content="Roots and Shoots is an independently owned and managed garden centre in Ipswitch, Suffolk" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/css/rootsandshoots.css" />
    <link href="http://fonts.googleapis.com/css?family=Lato:700" rel="stylesheet" />
    <script>for(var i=0,s="header nav section article aside footer".split(" ");i<s.length;i++){document.createElement(s[i]);}document.getElementsByTagName('html')[0].className="js "+((!!document.createElementNS && !!document.createElementNS('http://www.w3.org/2000/svg','svg').createSVGRect)?"svg":"no-svg");</script>
</head>
<body>

    <div class="container">

        <header class="masthead" role="banner">

            <div class="row">
                <div class="span4">

                    <a href="/" class="logo hide-text"><img class="logo-holder" src="data:image/gif;base64,R0lGODlhBgADAJEAAAAAAP///////wAAACH5BAEHAAIALAAAAAAGAAMAAAIElI95BQA7" alt="Roots and Shoots Garden Centre, Ipswitch, Suffolk" /></a>

                </div>
                <div class="span4 offset4 align-right">

                    <p class="tel">Tel: <a href="tel:+441449721965">01449 721965</a></p>
                    <p class="email">Email: <a href="mailto:sales@rootsandshootsgc.co.uk">sales@rootsandshootsgc.co.uk</a></p>
                    <p><a id="contact-btn" href="#">Send us a message</a> <a href="https://maps.google.co.uk/maps?q=Roots+%26+Shoots,+Stowmarket+Road,+Needham+Market&hl=en&ll=52.172195,1.02808&spn=0.030215,0.0842&sll=52.49616,-0.65918&sspn=3.839778,10.777588&oq=Roots+%26+Shoots&hq=Roots+%26+Shoots,&hnear=Stowmarket+Rd,+Needham+Market,+United+Kingdom&t=m&z=14&iwloc=A" target="_blank">View map</a></p>

                </div> 
            </div>

            <nav id="main-nav" class="navbar navbar-alt" role="navigation">
                <div class="navbar-inner">
                    <ul class="nav">
                        <li class="{% if page.title == "Home" %}active{% endif %}"><a href="/">Home</a></li>
                        <!--<li><a href="#">Pots</a></li>-->
                        <!--<li><a href="#">Wildbird</a></li>-->
                        <!--<li><a href="#">Aquatic</a></li>-->
                        <!--<li><a href="#">Aggregates</a></li>-->
                        <!--<li><a href="#">Compost</a></li>-->
                        <!--<li><a href="#">Irrigation</a></li>-->
                        <!--<li><a href="#">Furniture</a></li>-->
                        <!--<li><a href="#">Gifts</a></li>-->
                        <!--<li><a href="#">Poultry</a></li>-->
                        <!--<li><a href="#">Seasonal</a></li>-->
                    </ul>
                </div>
            </nav>

        </header>

        <section class="main" role="main">
{{ content }}
        </section>

        <footer>
            
        </footer>

    </div>

    <div id="contact-container" class="contact-container">
        <div class="contact-inner">
            <a href="#" class="contact-close">x</a>
        </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
    <script src="/js/main.js"></script>
    <script>
        var _gaq=[['_setAccount','UA-38635238-1'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src='//www.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
</body>
</html>
